.container {
    display: flex;
    background-color: #f1f5f9;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
    margin-left: 280px;
    /* Width of Sidebar */
    padding: 2rem 3rem;
    overflow-y: auto;
}

@media (max-width: 1024px) {
    .mainContent {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .mainContent {
        margin-left: 0;
        padding-top: 5rem;
    }
}